// mixins
@mixin img-cubo{
	min-height: 297px;
	background-size: cover;
}


// color variables

$color-white: #fff;
$color-black: #000;
$color-body: $text-color;

// IMG route
$img-route: '../../public/images/';

// Fonts

$fonts-default: Arial, Helvetica, sans-serif;
